.App {
    --header_height: 60px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    padding: 0px 70px
}

.hw {
    width:100%;
}

.hwTitle {
    margin-top:70px;
    font-size: 22px;
}