.greetingForm {

}

.inputAndButtonContainer {
    display: flex;
}

.error {
    color: #cc0000;
}

.input {
   border-radius: 10px;
    height: 36px;
    outline: none; /* Убирает обводку */
    box-shadow: none;
}

.input:focus {

    outline: none; /* Убирает обводку */
    box-shadow: none;
}

.errorInput {
    outline: none; /* Убирает обводку */
    box-shadow: none;
    border-color: #cc0000;
    border-radius: 10px;
    height: 36px;
}

.button {
    background-color: #0066cc;
    color: white;
    border: 1px solid transparent;
    border-radius:5px;
    width:60px;
    height: 36px
}

.button:focus {
}

.button:active {
}

.button:disabled {
}

.text {
}

.greeting {
}
