.button {
    width:132px;
    padding:5px 20px ;
    border-color: transparent;
    border-radius:5px;
}

.disabled {
    background-color: rgb(102, 188, 236);
    color:grey;
}

.secondary {
    border: 2px solid rgba(0, 102, 204, 1);
    color:rgba(0, 102, 204, 1)
}

.default {
    background-color: #0066cc;
    color:white;
}

.red {
    background-color: rgba(204, 20, 57, 1);
    color:white;

}

.default:hover {
    background-color: #00b4ff;
}

.red:hover {
    background-color:rgba(255, 26, 71, 1);
}

.secondary:hover {
   background-color: rgba(229, 240, 250, 1)
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
